
homework_1/src/Codebackup.docx
homework_1/data/prob_2b.Rdata
homework_1/data/prob_2c.Rdata
homework_1/data/prob_2cbig.Rdata
homework_1/data/prob_1c_sys_t.Rdata
homework_1/data/prob_1c_sys_clust.Rdata
homework_1/data/prob_2a.Rdata
homework_1/src/cek32HW1_B.R
*.Rdata
homework_1/src/backup/hw_backup.R
homework_1/src/backup/Codebackup.docx
homework_1/src/backup/cluster_1c.R
homework_1/src/backup/cluster.R
project/proposal_ex1.pdf
project/proposal_ex2.pdf
project/~$oject_proposal.docx
homework_1/hw1soln.pdf
homework_2/backup.docx
homework_2/src/.Rhistory
project/kelling_proposal_original.pdf
project/kelling_proposal_edited.pdf
project/kelling_proposal_edited_2.pdf
muh_example_code/*.R
homework_3/Archive.zip
homework_3/src/NR_alg.R
homework_3/src/SGD_hw3.R
homework_3/src/older_versions/*.R
project/data/
project/literature/
project/src/scratch_code/
